<dl class="consent-dl">
    <dt>Study Title</dt>
	<dd>"Creating a Public Space for Georeferencing Historical Fire Insurance Maps"
    <dt>Purpose and Procedures of the Study</dt>
    <dd>Members of the public are invited to engage with historical map archives by participating in a crowdsourcing project. Registered members can access old fire insurance maps of Louisiana communities and use tools on this site to transform the files into interactive web maps. For the duration of the study period, general usage statistics will be collected to better understand user engagement. At the end of the study period a brief, optional, survey will be distributed via to participants in order to learn about their experience and reasons for participating in the project.<br><em>Those who do not wish to participate can still view, download, and explore any content on this site.</em>
    <dt>Participant Inclusion Criteria</dt>
    <dd>Individuals over 18 years of age.</dd>
    <dt>Participant Exclusion Criteria</dt>
    <dd>Individuals under 18 years of age.</dd>
    <dt>Number of Participants</dt>
    <dd>There is no minimum number of expected participants. The maximum number of participants is 250.</dd>
    <dt>Privacy</dt>
	<dd>Results of the study may be published, but no names or identifying information will be included in the publication. Subject identity will remain confidential unless disclosure is required by law.</dd>
    <dt>Risks</dt>
    <dd>This study presents no known risk to participants.</dd>
    <dt>Benefits</dt>
    <dd>Georeferencing old maps transforms historical documents into a digital format that can be used and reused in a wide variety of future research contexts. Participants can expect to gain historical knowledge of the Louisiana communities they are interested in, and all digital content and map data generated through this project will be in the public domain.
    <dt>Compensation</dt>
    <dd>No financial compensation will be offered to participants.</dd>
    <dt>Voluntary Nature of Study</dt>
    <dd>Participants may choose not to participate or to withdraw from the study at any time without penalty or loss of any benefit to which they might otherwise be entitled.</dd>
    <dt>Location of Study</dt>
    <dd>All participation will take place online at <a href="https://oldinsurancemaps.net">oldinsurancemaps.net</a>, and the user survey will be administered online via Qualtrics.</dd>
    <dt>Investigator Contacts</dt>
    <dd>Andrew Sluyter (<a href="mailto:asluyter@lsu.edu">asluyter@lsu.edu</a>) or Adam Cox (<a href="mailto:acox42@lsu.edu">acox42@lsu.edu</a>, 608-606-9928) can be contacted with questions or concerns about this study.</dd>
</dl>
<hr>
<p>
    This study has been approved by the LSU Institutional Review Board (IRB). For questions concerning participant rights, please contact the IRB Chair, Alex Cohen, (225) 578-8692, or <a href="mailto:irb@lsu.edu">irb@lsu.edu</a>.
</p>
<p>
    By signing up you are giving consent to participate in this study and to be e-mailed a brief, optional, survey about your participation at a later date.
</p>
