<div class="about-sidenav hidden-xs" style="text-align:center;">
    <h3>Available Volumes
      <a href="#" data-toggle="collapse" data-target="#availability-msg" style="font-size:.75em; color:rgb(58, 58, 58)">
        <i class="fa fa-info-circle"></i>
      </a>
    </h3>
    <p id="availability-msg" class="collapse">
        Not all maps in the Library of Congress collection are available for this pilot project.
        <a href="https://docs.oldinsurancemaps.net/en/latest/#connecting-to-loc/" target="_blank">learn more
          <i class="fa fa-external-link"></i>
        </a>
    </p>
    <ul style="padding: 5px">
        {% for volume in volumes.id_list %}
        <li style="display: inline-block">&bullet; <a href="{% url 'volume_summary' volume.0 %}">{{ volume.1 }}, {{ volume.2 }} {% if volume.3 %}v{{ volume.3 }}{% endif %}</a></li>
        {% endfor %}
    </ul>
  </div>