{% extends 'index.html' %}
{% load markdownify %}
{% load i18n %}
{% load base_tags %}
{% load django_svelte %}

{% block title %}{{ svelte_params.VOLUME.title }}{% endblock title %}

{% block hero%}
<div class="container-outer background-bg" style="margin-top: -7px; padding:20px;">
<!-- <div class="container background-fg" style="padding:20px 20px;"> -->
  {% display_svelte "MultiTrim.svelte" svelte_params %} 
<!-- </div> -->
</div>
{% endblock hero %}

{% block bigsearch %}{% endblock bigsearch %}
{% block showcase %}{% endblock showcase %}
{% block datasets %}{% endblock datasets %}
