<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    
    <!-- title is the block used in my own templates (for now) -->
    <!-- head_title is the block used by the allauth templates -->
    <title>
      OldInsuranceMaps.net
      
    </title>
    <meta property="og:description" content="A crowdsourcing site for creating and viewing georeferenced mosaics of historical Sanborn fire insurance maps" />

    <link rel="shortcut icon" href="/static/favicon.ico" />

    <!-- analytics with plausible.io -->
    <script defer data-domain="oldinsurancemaps.net" src="/js/script.js"></script>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    
    <link href="/static/css/site_base.css?v=JOF36sA8lB4" rel="stylesheet"/>
    

    <script>
        var siteUrl = ''.replace(/\/?$/, '/');
        var staticUrl = '/static/';
    </script>

  </head>

  <body class="">
    <!-- Loading Mask -->
    <div class='lmask'></div>
    <!-- Navbar -->
    
    
    <script id="navbar-props" type="application/json">{"USER": {"is_authenticated": false}}</script>
    

<link href="/static/Navbar.css?v=JOF36sA8lB4" rel="stylesheet">
<div id="navbar-target" style="width:100%;"></div>
<script defer src="/static/Navbar.js?v=JOF36sA8lB4"></script>

    <!-- Initial work on a mini.css-based navbar. needs more work though...-->
    <!-- <header class="sticky" style="display:flex; justify-content:space-between; align-items:center; overflow-x:auto;">
      <div>
        <a href="/" class="logo"><img src="/static/img/colored-full-linework.png" style="height:45px"/></a>
        <a href="/" class="button">Home</a>
        <a href="/browse" title="Browse" class="button">Browse</a>
        <a href="/people" title="People" class="button">People</a>
        <a href="/#support" title="Support this project" class="button">Support</a>
        <a href="https://ohmg.dev" title="Browse" class="button">About <i class="fa fa-external-link"></i></a>
      </div>
      <div>
        
			  <a href="/account/login" class="button">Sign in</a>
  			<a href="/account/signup" class="button">Sign up</a>
		    
      </div>
    </header> -->
    
    
    <div class="container background-fg" style="min-height:calc(100vh - 250px)" >
        
<div class="alert alert-warn" id="status-message" hidden="hidden">
    <a class="close" onclick="$('.alert').hide()">×</a>
    <strong><p id="status-message-text">Placeholder for status-message</p></strong>
    <p id="status-message-text-body">Placeholder for status-message-body</p>
</div>

        <!-- 



 -->
        

        
          <!--content is the block used by the allauth templates -->
          
          
  <div id="description"><h3>Page not found</h3></div>
  
      
  

          
        
        
    </div>
    

    
    

  
  

  
  <script id="footer-props" type="application/json">{"USER": {"is_authenticated": false}}</script>
  

<link href="/static/Footer.css?v=JOF36sA8lB4" rel="stylesheet">
<div id="footer-target" style="width:100%;"></div>
<script defer src="/static/Footer.js?v=JOF36sA8lB4"></script>
  

  </body>
</html>
