{% extends "base.html" %}
{% load i18n %}

{% block middle %}
  <div id="description"><h3>{% trans "Server Error" %}</h3></div>
  <p>Internal server error. Please contact an admin if the problem persists: <a href="mailto:hello@oldinsurancemaps.net">hello@oldinsurancemaps.net</a></p>.
{% endblock %}
