<div style="display:flex; flex-direction:column; align-items:center; margin-bottom:10px;">
	<input id="ppp" type="hidden" value="{{ PROSOPO_SITE_KEY }}">
	<div id="procaptcha-container"></div>
	<div id="submit-button-container" style="margin-top:10px;"></div>
</div>

<script>
	async function onClientVerification(output) {
		const payloadField = document.createElement('input')
		payloadField.setAttribute("type", "hidden")
		payloadField.setAttribute("name", "captcha_payload")
		payloadField.setAttribute("value", output)
		document.getElementById('signup_form').appendChild(payloadField)
		const subBtn = document.createElement('button')
		subBtn.setAttribute("type", "submit")
		subBtn.classList.add("button")
		subBtn.classList.add("is-primary")
		subBtn.innerText = "Sign Up"
		document.getElementById("submit-button-container").appendChild(subBtn)
	}

	document.getElementById('procaptcha-script').addEventListener('load', function () {
		const captchaContainer = document.getElementById('procaptcha-container')
		// Render the CAPTCHA explicitly on a container with id "procaptcha-container"
		window.procaptcha.render(captchaContainer, {
			siteKey: document.getElementById('ppp').value,
			callback: onClientVerification,
		})
	})
</script>