<div class="new-title-bar">
    <div class="new-title-bar-row">
        <div class="new-title-bar-row-item">
            {% if img_url %}
            <img class="lead-image" src="{{ img_url }}" alt="profile pic" title="{{ img_url }}" />
            {% endif %}
            {% if lead_icon %}
            <span class="lead-icon">
                <i style="vertical-align:bottom;" class="fancy fancy-md i-{{lead_icon}}"></i>
            </span>
            {% endif %}
            <h1 class="page-title">{{title}}</h1>
            {% if subtitle %}
            <span style="margin-left:8px;">
                <h2 class="page-subtitle">{{subtitle}}</h2>
            </span>
            {% endif %}
        </div>
        {% if navlinks or feed_url %}
        <div class="new-title-bar-row-item icon-box">
            {% for link in navlinks %}
            <span style="display:inline; height:100%; width:100%;">
                {% if link.active %}
                <a style="display:inline-block; height:100%; width:100%;" href="{{link.url}}">
                    <i class="fancy fancy-md is-link i-{{link.icon}}"></i>
                </a>
                {% else %}
                <i class="fancy fancy-md i-{{link.icon}}"></i>
                {% endif %}
            </span>
            {% endfor %}
            {% if feed_url %}
            <span style="display:inline; height:100%; width:100%;">
                <a style="display:flex; align-items:center; height:100%; width:100%;" href="{{feed_url}}" title="Subscribe to RSS feed">
                    <i style="font-size:2em;" class="ph-bold ph-rss-simple"></i>
                </a>
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if description %}
    <div class="new-title-bar-row">
        <div class="new-title-bar-row-item">
            <h2 class="page-subtitle">{{description}}</h2>
        </div>
    </div>
    {% endif %}
</div>