<div class="new-title-bar">
    <div class="new-title-bar-row">
        <div class="new-title-bar-row-item">
            {% if img_url %}
            <img style="border-radius:5px; margin-right:10px; height:50px;" src="{{ img_url }}" alt="profile pic" title="{{ img_url }}" />
            {% endif %}
            <h1 class="page-title">{{title}}</h1>
        </div>
        {% if links %}
        <div class="new-title-bar-row-item icon-box">
            {% for link in links %}
            {{link}}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if subtitle %}
    <div class="new-title-bar-row">
        <div class="new-title-bar-row-item">
            <h2 class="page-subtitle">{{subtitle}}</h2>
        </div>
    </div>
    {% endif %}
</div>