{% load i18n avatar_tags %}
{% load static from static %}
{% load account socialaccount %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    
    <!-- title is the block used in my own templates -->
    <!-- title is the block used in the django-newsletter templates -->
    <!-- head_title is the block used by the allauth templates -->
    <title>
      {% block title %}{{ SITE_NAME }}{% endblock %}
      {% block head_title %}{% endblock %}
    </title>
    <meta property="og:description" content="A crowdsourcing site for creating and viewing georeferenced mosaics of historical Sanborn fire insurance maps" />

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <!-- analytics with plausible.io -->
    <script defer data-domain="oldinsurancemaps.net" src="/js/script.js"></script>

    <!-- from: https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css -->
    <link href="{{ STATIC_URL }}plugins/bulma.min.css" rel="stylesheet"/>
    
    {% block head %}{% endblock %}
    
    {% compress css %}
    <!-- custom stylesheets -->
    <link href="{{ STATIC_URL }}css/bulma-overrides.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/site_base.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/modal.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <!-- from: https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap -->
    <link href="{{ STATIC_URL }}plugins/fonts/josephine.css" rel="stylesheet"/>
    <!-- from: https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css -->
    <link href="{{ STATIC_URL }}plugins/phosphor-icons@2.1.1/bold.css" rel="stylesheet"/>
    {% endcompress %}
    
    {% compress js %}
    <!-- dependencies for pinax-announcements -->
    <!-- from: https://code.jquery.com/jquery-2.2.4.min.js -->
    <script src="{{ STATIC_URL }}plugins/jquery-2.2.4.min.js"></script>
    <!-- from: https://cdn.jsdelivr.net/npm/eldarion-ajax@0.16.0/js/eldarion-ajax.min.js -->
    <script src="{{ STATIC_URL }}plugins/eldarion-ajax.min.js"></script>
    {% endcompress %}

    <script>
        var siteUrl = '{{ SITEURL }}'.replace(/\/?$/, '/');
        var staticUrl = '{% static "" %}';
    </script>

  </head>

  <body>
    {% block header %}{% endblock header %}

    {% include '_navbar.html' %}
    
    {% block middle %}
    <div id="main-container" class="container">
        {% include "_status_message.html" %}
        {% include "_announcements.html" %}
        {% include "_messages.html" %}
        {% block body_outer %}
          <!--content is the block used by the allauth templates -->
          {% block content %}{% endblock %}
          {% block body %}{% endblock body %}
          {% block sidebar %}{% endblock sidebar %}
        {% endblock body_outer %}
        {% block main_content %}{% endblock %}
    </div>
    {% endblock middle %}

    {% include '_footer.html' %}

  </body>
</html>
