{% load static from static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">

    <title>{% block title %}{{ svelte_params.PLACE.display_name }}{% endblock %}</title>

    <script defer data-domain="oldinsurancemaps.net" src="/js/script.js"></script>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    {% compress css %}
    <!-- custom stylesheets -->
    <link href="{{ STATIC_URL }}css/bulma-overrides.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/site_base.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/modal.css?v={{ BUILD_NUMBER }}" rel="stylesheet"/>
    <!-- from: https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap -->
    <link href="{{ STATIC_URL }}plugins/fonts/josephine.css" rel="stylesheet"/>
    <!-- from: https://unpkg.com/@phosphor-icons/web@2.1.1/src/bold/style.css -->
    <link href="{{ STATIC_URL }}plugins/phosphor-icons@2.1.1/bold.css" rel="stylesheet"/>
    {% endcompress %}

  </head>
  <body style="padding:0; margin:0;">
    {{ svelte_params|json_script:'viewer-props'}}
    {% include '_svelte_component.html' with component_name='Viewer' %}
  </body>
</html>
