{% load static from static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">

    <title>{% block title %}{{ svelte_params.PLACE.display_name }}{% endblock %}</title>

    <script defer data-domain="oldinsurancemaps.net" src="/js/script.js"></script>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <link href="{% static 'css/site_base.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/icons.css' %}" rel="stylesheet"/>

  </head>
  <body style="padding:0; margin:0;">
    {{ svelte_params|json_script:'viewer-props'}}
    {% include '_svelte_component.html' with component_name='Viewer' %}
  </body>
</html>
