.svelte-component-main {
  height: 600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: rgb(235, 235, 235);
  border: 1.5px solid rgb(150, 150, 150);
  position: relative;
}

.svelte-component-main nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: lightgrey;
}

.svelte-component-main nav label {
  margin: 0px;
}

.svelte-component-main nav select:disabled {
  color: grey;
}

.interface-mask {
  height: 597px; /* 600 - 2 * 1.5px borders on the main component */
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  z-index: 1000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  padding-top: 275px;
}

#doc-viewer {
  background: url('../static/img/sandpaper-bg-vlite.jpg');
}

.map-container {
  display: flex;
  /* height: calc(100% - 4em); */
  height: 100%;
  justify-content: space-between;
}

.map-item {
  width: 100%;
}

.rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* hide on small screens */
@media screen and (max-width: 768px) {
  .svelte-component-main nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 0px 5px;
  }
}
