hr {
  border-top-color: rgb(149, 149, 149);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 65px;
}

thead tr {
  background-color: #eaeaea;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.reloading-btn.active {
  color: white;
  background: black;
}
