hr {
	border-top-color:rgb(149, 149, 149);
}


h1, h2, h3, h4, h5, h6 {
	scroll-margin-top: 65px
}

.signin-reminder {
	background: #e6e6e6;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.signin-reminder p {
	margin: 0px;
}

table.tablesort {
	width:100%;
	border: 1px solid grey;
	border-radius: 4px;
}

th.sortable, td {
	padding: 5px;
	white-space: nowrap;
}

thead tr {
  background-color: #eaeaea;
}

tbody tr:nth-child(even){
  background-color: #f6f6f6;
}

tbody tr:nth-child(odd){
  background-color: #ffffff;
}

/* pure css loading bar */
/* from https://loading.io/css/ */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 20px;
}
.lds-ellipsis div {
	position: absolute;
	top: 10px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #000;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
	}
	@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}


  .reloading-btn.active {
	color: white;
	background: black;
  }