{% extends "layers/layer_list_default.html" %}
{% load i18n %}
{% load staticfiles %}

<!-- This template extends the geonode template of the same path/name, and
inserts a slightly different body block (to disallow layer upload for non-staff)-->
{% block body %}
<div class="page-header">
  {% if user.is_staff %}
    <a href="{% url "layer_upload" %}" class="btn btn-primary pull-right">{% trans "Upload Layers" %}</a>
  {% endif %}
  <h2 class="page-title">{% trans "Explore Layers" %}</h2>
</div>
  {% with include_type_filter='true' %}
    {% with header='Type' %}
      {% with filter='type__in' %}
        {% include "search/_search_content.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
{% endblock %}
