{% extends "geonode_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans "Getting Started" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h1>{% trans "Getting Started" %}</h1>
  <div>
    <a href="{% url 'about' %}">Project Background &rarr;</a>
  </div>
</div>
<div class="about-container">
  <div class="about-content" style="font-size:1.2em;">
    <h3>1. Sign up!</h3>
    <p>
      Start by <a href="{% url 'account_signup' %}">creating an account</a>. Head back here once you are signed in.
    </p>
    <p>
      <em>If you don't want to sign up, no problem, you can still browse  <a href="{% url 'volumes_list' %}">volumes</a>, <a href="{% url 'document_browse' %}">documents</a>, <a href="{% url 'layer_browse' %}">layers</a>, or <a href="{% url 'maps_browse' %}">web maps</a> that other people have worked on.</em>
    </p>
    <h3>2. Find a community you are interested in</h3>
    <p>
      Use the list on this page or head to <a href="{% url 'volumes_list' %}">volumes</a> to find a set of maps to work on. Once you select a volume, you will find yourself at the <strong>volume summary</strong> page.
    </p>
    <h3>3. Load the volume</h3>
    <p>
      In the <strong>volume summary</strong> you can load the map sheets into the database. Once loaded, you will see all of the sheets in the "unprepared" list.
      <figure>
        <img style="max-width: 640px" src="{% static 'img/v-summary-unprepared.png' %}">
        <figcaption style="font-style:italic; font-size:.85em;">Two sheets have been loaded for this volume.</figcaption>
      </figure>
    </p>
    <p>   
      <em>If someone else has already loaded the volume, then just pick a sheet to start working with it.</em>
    </p>
    <h3>4. Dive in!</h3>
    <p>
      In this application, the entire georeferencing process comprises three sequential steps, each with its own tool interface:
      <ol>
        <li>Preparation</li>
        <li>Georeferencing</li>
        <li>Trimming (optional)</li>
      </ol>
      These steps need to be completed in order, but they don't have to be completed all in one sitting. In fact, Georeferencing and Trimming can be revisited at any time, so you can improve on your past work, or build from someone else's. Tips for using each tool accompany its interface.
    </p>
    <p>
      Learn more in the <a href="https://docs.oldinsurancemaps.net/#georeferencing-process/">documentation</a>:
      <ul>
        <li><a href="https://docs.oldinsurancemaps.net/#tutorial/">full tutorial</a></li>
        <li><a href="https://docs.oldinsurancemaps.net/#georeferencing-process/">more on georeferencing steps</a></li>
      </ul>
  </div>
  {% include 'lc/_volumes-sidebar.html' %}
</div>

{% endblock %}
