{% extends 'index.html' %}
{% load markdownify %}
{% load i18n %}
{% load base_tags %}
{% load django_svelte %}

{% block title %}{{ svelte_params.PLACE.display_name }}{% endblock title %}

{% block middlefull %}
<h1>{{ svelte_params.PLACE.display_name }}</h1>
{% if svelte_params.PLACE.category != "State" %}
{% for state in svelte_params.PLACE.states %}
    <p><a href="{% url 'place_view' state.slug %}">{{ state.display_name }}</a></p>
{% endfor %}
{% endif %}
<hr>
{% for parent in svelte_params.PLACE.parents %}
    <p><a href="{% url 'place_view' parent.slug %}">{{ parent.display_name }}</a></p>
{% endfor %}
<hr>
{% for desc in svelte_params.PLACE.descendants %}
    <p><a href="{% url 'place_view' desc.slug %}">{{ desc.display_name }}</a></p>
{% endfor %}
{{ place }}
{% endblock middlefull %}

{% block bigsearch %}{% endblock bigsearch %}
{% block showcase %}{% endblock showcase %}
{% block datasets %}{% endblock datasets %}
