{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Explore Insurance Maps{% endblock %}

{% block extra_head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock %}

{% block tabs %}
<li id="nav_layers">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Content" %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
    <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
    <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
    <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
    {% if user.is_staff and not READ_ONLY_MODE %}
        <li role="separator" class="divider"></li>
        <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
        {% if USE_GEOSERVER and CREATE_LAYER %}
            <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
        {% endif %}
        <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
    {% endif %}
    {% if user.is_superuser or user.is_staff %}
        {%  if not READ_ONLY_MODE %}
        <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
        {% endif %}
    {% endif %}
    </ul>
</li>
<li id="nav_maps">
    {% if user.is_authenticated %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Web Maps" %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
        <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Web Maps" %}</a></li>
        {% if not READ_ONLY_MODE %}
        <li> <a href="{% url "new_map" %}">{% trans "Create Web Map" %}</a></li>
        {% endif %}
    </ul>
    {% else %}
    <a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Web Maps" %}</a>
    {% endif %}
</li>
{% if GEONODE_APPS_ENABLE and GEONODE_APPS_NAV_MENU_ENABLE %}
<li id="nav_maps">
{% if user.is_authenticated %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
        <li><a href="{% url "apps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore" %} {% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %}</a></li>
    </ul>
{% else %}
    <a href="{% url "apps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %}</a>
{% endif %}
</li>
{% endif %}
<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "About" %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
    <li><a href="{% url "about" %}">{% trans "Project Background" %}</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
    <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
    <li><a href="{% url "group_category_list" %}">{% trans "Group Categories" %}</a></li>
    {% if perms.announcements.can_manage %}
        <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
    {% endif %}
    {% if user.is_authenticated and not READ_ONLY_MODE %}
        <li role="separator" class="divider"></li>
        <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
    {% endif %}
    {% if user.is_superuser and not READ_ONLY_MODE %}
        <li><a href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}admin/people/profile/add/">{% trans "Add User" %}</a></li>
        <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
    {% endif %}
    </ul>
</li>

{% block extra_tab %}
{% endblock %}

{% endblock %}

{% block footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>{% trans "Content" %}</li>
          <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
          <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
          <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
          {% if user.is_staff and not READ_ONLY_MODE %}
              <li role="separator" class="divider"></li>
              <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
              {% if USE_GEOSERVER and CREATE_LAYER %}
                  <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
              {% endif %}
              <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
          {% endif %}
          {% if user.is_staff or user.is_superuser %}
            {% if not READ_ONLY_MODE %}
              <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>{% trans "Web Maps" %}</li>
          <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Web Maps" %}</a></li>
          {% if user.is_authenticated and not READ_ONLY_MODE %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Web Map" %}</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>{% trans "About" %}</li>
          <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
          <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
          {% if perms.announcements.can_manage %}
          <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
          {% endif %}
          {% if user.is_authenticated and not READ_ONLY_MODE %}
          <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
          {% endif %}
          {% if user.is_superuser and not READ_ONLY_MODE %}
          <li><a href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}admin/people/profile/add/">{% trans "Add User" %}</a></li>
          <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-6 text-right">
        {% block contactus %}
        {% if custom_theme.contactus %}
        <ul class="list-unstyled">
            <li style="text-align: left;"><h2 style="margin-top: 0px;">{% trans "Contact Us" %} </h2> </li>
            {% if custom_theme.contact_name %}<li style="text-align: left;">{{ custom_theme.contact_name }}</li>{% endif %}
            {% if custom_theme.contact_position %}<li style="text-align: left;">{{ custom_theme.contact_position }}</li>{% endif %}
            {% if custom_theme.contact_administrative_area %}<li style="text-align: left;">{{ custom_theme.contact_administrative_area }}</li>{% endif %}
            {% if custom_theme.contact_city %}<li style="text-align: left;">{{ custom_theme.contact_city }}</li>{% endif %}
            {% if custom_theme.contact_street %}<li style="text-align: left;">{{ custom_theme.contact_street }}</li>{% endif %}
            {% if custom_theme.contact_postal_code %}<li style="text-align: left;">{{ custom_theme.contact_postal_code }}</li>{% endif %}
            {% if custom_theme.contact_country %}<li style="text-align: left;">{{ custom_theme.contact_country }}</li>{% endif %}
            {% if custom_theme.contact_delivery_point %}<li style="text-align: left;">{{ custom_theme.contact_delivery_point }}</li>{% endif %}
            {% if custom_theme.contact_voice %}<li style="text-align: left;">{% trans "Tel" %}: {{ custom_theme.contact_voice }}</li>{% endif %}
            {% if custom_theme.contact_facsimile %}<li style="text-align: left;">{% trans "Fax" %}: {{ custom_theme.contact_facsimile }}</li>{% endif %}
            {% if custom_theme.contact_email %}<li style="text-align: left;">{% trans "E-mail" %}: {{ custom_theme.contact_email }}</li>{% endif %}
        </ul>
        {% endif %}
        {% endblock contactus %}
        <ul class="list-unstyled">
          <li>{% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a>{% if user.is_staff %} <em>{% trans "version" %} {{ VERSION }}</em>{% endif %}</li>
          <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>
        </ul>
        <label class="hidden">{% trans "Language" %}</label>
        {% if csrf_token != "NOTPROVIDED" %}
        {% get_current_language as LANGUAGE %}
        <form class="form-inline" action="/i18n/setlang/" method="post">
        {% csrf_token %}
          <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
              {{ lang.1 }}
            </option>
            {% endfor %}
          </select>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</footer>

{% if custom_theme.copyright %}
  <section class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 copyright ">
          <div class="module">
            <small>{{ custom_theme.copyright|safe }}</small>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% endblock footer %}

