{% extends 'index.html' %}
{% load markdownify %}
{% load i18n %}
{% load base_tags %}
{% load static %}

{% load django_svelte %}

{% block bigsearch %}
<section>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h2>About this project</h2>
        <div class="col-md-5 col-md-offset-1">
          <p>This platform allows users to import and georeference scanned maps from the Library of Congress
            <a href="https://loc.gov/collections/sanborn-maps">Sanborn Maps Collection</a>. Georeferenced
            layers can be trimmed and aggregated within public web maps to build seamless mosaics of historical Louisiana communities.</p>
          <p>
            To learn how to participate, please visit the <a href="https://docs.oldinsurancemaps.net">full documentation</a>. Or, explore 
            <a href="{% url 'maps_browse' %}">web maps</a> that others have already created.
          </p>
        </div>
        <div class="col-md-5">
          <p>
            This "beta" release will be available through May 2022. At the end of this period, all georeferenced map layers 
            will be transferred to <a href="https://atlas.ga.lsu.edu">LSU Atlas</a> and made available for long-term public use.
          </p>
          <p>
            We are open to sponsorship, grants, or other partnership models to extend the scope and longevity of this project. Please
            email acox42 [at] lsu.edu if this interests you or your organization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock bigsearch %}

{% block showcase %}
<section id="showcase" class="background-fg">
  <div class="row">
    <div class="col-12-xs">
      <h2>Explore the Content</h2>
      <p>As more people use the system, these numbers will grow.</p>
    </div>
  </div>
  <div class="row" style="padding-top: 25px">
    <div class="container text-center">
      <div class="row home-facets">
      {% with facet_type='home' %}
        {% facets as facets %}
        <div class="col-md-5 col-md-offset-1 showcase-tile">
          <div class="showcase-tile-title">
            <a href="{% url 'volumes_list' %}">
              <span class="i i-volume i-volume-lg"></span>&nbsp;
              <span>{{ volume_ct|default:_("No") }} {% blocktrans count counter=volume_ct %}Volume{% plural %}Volumes{% endblocktrans %}</span>
            </a>
          </div>
          <p>{% trans 'Registered users load old fire insurance map Volumes to begin georeferencing their map content.' %}</p>
          <p><a class="btn btn-default" href="{% url "volumes_list" %}" role="button">{% trans "Browse or Load Volumes" %} &raquo;</a></p>
        </div>
        <div class="col-md-5 showcase-tile">
          <div class="showcase-tile-title">
            <a href="{% url 'document_browse' %}">
              <span class="i i-document i-document-lg"></span>&nbsp;
              <span>{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</span>
            </a>
          </div>
          <p>{% trans "Documents are created when a Volume's sheets are loaded by a user, and can then be georeferenced." %}</p>
          <p class="text-center">
            <a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Browse Documents" %} &raquo;</a>
          </p>
        </div>
        <div class="col-md-5 col-md-offset-1 showcase-tile">
          <div class="showcase-tile-title">
            <a href="{% url "layer_browse" %}">
              <span class="i i-layer i-layer-lg"></span>&nbsp;
              <span>{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</span>
            </a>
          </div>
          <p>{% trans "Georeferenced Documents become geospatial Layers. Layers can be viewed here or shared as OGC-compliant web map services." %}</p>
          <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Browse Layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-5 showcase-tile">
          <div class="showcase-tile-title">
            <a href="{% url "maps_browse" %}">
              <span class="i i-webmap i-webmap-lg"></span>&nbsp;
              <span>{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Web Map{% plural %}Web Maps{% endblocktrans %}</span>
            </a>
          </div>
          <p>{% trans "Layers can be combined in interactive web maps to create seamless historical map mosaics." %}</p>
          <p>
            <a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Browse Web Maps" %} &raquo;</a>
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create a Web Map" %} &raquo;</a>
            {% endif %}
          </p>
        </div>
      {% endwith %}
      {% with facet_type='home' %}
      {% facets as facets %}
        <div class="col-md-4 col-md-offset-4 showcase-tile">
          <div class="showcase-tile-title">
            <a href="{% url "profile_browse" %}">
              <span class="i i-user i-user-lg"></span>&nbsp;
              <span>{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</span>
            </a>
          </div>
          <p>{% trans "Anyone can sign up to work on georeferencing this content." %}</p>
          <p>
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="/invitations/geonode-send-invite/" role="button">{% trans "Send Invite" %} &raquo;</a>
            {% else %}
            <a class="btn btn-default" href="{% url "account_signup" %}" role="button">{% trans "Register" %} &raquo;</a>
            {% endif %}
            <a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "Browse Users" %} &raquo;</a>
          </p>
        </div>
      {% endwith %}
      </div>
    </div>
  </div>
</section>
{% endblock showcase %}

{% block datasets %}
<section id="datasets" >
  {% get_visibile_resources request.user %}
  <div ng-app="featured" ng-if="featured.length > 0" ng-cloak class="row">
      <div class="container text-center">
        <h2>{% trans "Featured Content" %}</h2>
        <div class="row">
            {% verbatim %}
            <div ng-repeat="item in featured" class="col-xs-6 col-sm-6 col-md-3">
              <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" style="width: 100%" /></a>
              <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
            </div>
            {% endverbatim %}
        </div>
      </div>
  </div>
</section>
{% endblock datasets %}
