{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Password Reset" %}</h2>
</div>
{% if user.is_authenticated %}
{% user_display user as user_display %}
<p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
{% endif %}
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="{% url 'account_reset_password' %}">
      <fieldset>
      {% csrf_token %}
      {{ form.as_p }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Send me a reset link" %}</button>
        </div>
      </fieldset>
    </form>
    <p class="grid-spacer">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:hello@oldinsurancemaps.net">hello@oldinsurancemaps.net</a>.{% endblocktrans %}</p>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("id_email").focus()
  });
</script>
{% endblock %}
