{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{% trans "Sign up" %}</h2>
    </div>
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>
    {% if account_geonode_local_signup %}
        <div class="row">
          <p>{% trans "To participate in this project, please read the informed consent script below before creating an account." %}</p>
          <form id="signup_form" disabled method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
              <fieldset>
                  <!-- study consent section -->
                  <div style="margin-bottom: 20px; font-size: 1.25em;">
                    <h4>
                        <a id="view-consent" href="#" data-toggle="collapse" data-target="#consent-script">
                            Click to read informed consent form (required) &darr;
                        </a>
                    </h4>
                    <div id="consent-script" class="collapse">
                        {% include 'lc/_informed-consent-script.html' %}
                        <label><input id="consent-input" type="checkbox"> I understand and wish to participate.</label>
                    </div>
                  </div>
                  <!-- end study consent section -->
                  <em>Your username will be visible to others on the site, so if that field has autofilled with your email address, please change it. Thanks!</em>
                  {% csrf_token %}
                  {{ form|as_bootstrap }}
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-actions">
                      <button id="submit-signup" type="submit" class="btn btn-primary">{% trans "Sign up!" %}</button>
                  </div>
              </fieldset>
          </form>
        </div>
    {% endif %}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
            $('#consent-input').on('click', function() {
                setFormState(this.checked)
            });
            function setFormState(enabled) {
                $('#signup_form').find('.form-control').each(function (n, el) {
                    el.disabled = !enabled;
                });
                $('#submit-signup').prop('disabled', !enabled);
            }
            // disable form on page load
            setFormState(false);
        });
    </script>
{% endblock %}
