{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Contributors | {{ block.super }}{% endblock %}

{% block main_content %}

{% include '_titlebar.html' with title="Contributors" %}

<section>
    <div class="section-title-bar">
        <!-- <h2>Contributors</h2> -->
    </div>
    <div class="section-content">
        {{ CONTRIBUTORLIST_PROPS|json_script:'contributorlist-props'}}
        {% include '_svelte_component.html' with component_name='ContributorList' %}
    </div>
</section>

{% endblock %}