{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ PROFILE_USER.username }} | {{ block.super }}{% endblock %}

{% block main_content %}

{% if user.username == PROFILE_USER.username %}
{% include '_titlebar.html' with title=PROFILE_USER.username img_url=PROFILE_USER.image_url subtitle="<a href='/account/'>manage my account &rarr;</a>" %}
{% else %}
{% include '_titlebar.html' with title=PROFILE_USER.username img_url=PROFILE_USER.image_url %}
{% endif %}

<section>
    <div class="section-title-bar">
    <h2>Session History</h2>
    </div>
    <div class="section-content">
        {{ SESSIONS_PROPS|json_script:'sessions-props'}}
        {% include '_svelte_component.html' with component_name='Sessions' %}
    </div>
</section>

{% endblock %}
