{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{{ newsletter.title }} &mdash; Archive{% endblock title %}

{% block body %}
<table>
    <tr>
        <th>{{ newsletter.title }} &mdash; Archive</th>
    </tr>
    {% for submission in latest %}
    <tr>
        <td><a href="{{ submission.get_absolute_url }}">{{ submission.message.title }}</a> &mdash; {{submission.publish_date}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><a href="../">{% trans "Back to list" %}</a></td>
    </tr>
</table>
{% endblock body %}
