{% extends 'base.html' %}

{% load i18n %}

{% block title %}News | {{ block.super }}{% endblock %}

{% block body %}
<h1>OldInsuranceMaps.net News</h1>
<table>
    {% for submission in submissions %}
    <tr>
        <td>
            <h4><a href="{% url 'article' slug=submission.message.slug %}">{{ submission.message.title }}</a></h4>
            <div><em>{% comment %}{%if submission.is_newsletter %}newsletter sent {% endif %}{% endcomment %}{{submission.publish_date}}</em></div>
            <p>{{submission.message.articles.all.0.text|truncatewords:10|safe}}</p>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}
