{% extends 'base.html' %}

{% load i18n %}

{% block title %}News | {{ block.super }}{% endblock %}

{% block body %}
<h1>OldInsuranceMaps.net News</h1>
<table>
    {% for submission in submissions %}
    <tr>
        <td>
            <a href="{% url 'article' slug=submission.message.slug %}">{{ submission.message.title }} {%if submission.is_newsletter %}(newsletter){% endif %}</a>
            <div>{{submission.publish_date}}</div>
            <p>{{submission.message.articles.all.0.text|truncatewords:30|safe}}</p>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}