:root {
    --volume-svg: url(../icons/noun_UprightBook_2089467.svg);
    --volume2-svg: url(../icons/noun-book-3124501-FFFFFF.svg);
    --document-svg: url(../icons/noun_Scroll_2592600.svg);
    --layer-svg: url(../icons/noun_Layer_2583171.svg);
    --webmap-svg: url(../icons/noun_FoldedMap_2592599.svg);
    --user-svg: url(../icons/noun_User_1236015.svg);
    --volume-size: 65px;
    --document-size: 70px;
    --layer-size: 75px;
    --webmap-size: 70px;
    --user-size: 50px;
}

.i-volume {
    mask-image: var(--volume2-svg);
    -webkit-mask-image: var(--volume2-svg);
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.i-volume-lg{
    width: var(--volume-size);
    height: var(--volume-size);
}
.i-volume-sm {
    width: calc(var(--volume-size)*.55);
    height: calc(var(--volume-size)*.55);
}

.i-document {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--document-svg);
    -webkit-mask-image: var(--document-svg);
}
.i-document-lg {
    width: var(--document-size);
    height: var(--document-size);
}
.i-document-sm {
    width: calc(var(--document-size)*.55);
    height: calc(var(--document-size)*.55);
}

.i-layer {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--layer-svg);
    -webkit-mask-image: var(--layer-svg);
}
.i-layer-lg {
    width: var(--layer-size);
    height: var(--layer-size);
}
.i-layer-sm {
    width: calc(var(--layer-size)*.55);
    height: calc(var(--layer-size)*.55);
}

.i-webmap {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--webmap-svg);
    -webkit-mask-image: var(--webmap-svg);
}
.i-webmap-lg {
    width: var(--webmap-size);
    height: var(--webmap-size);
}
.i-webmap-sm {
    width: calc(var(--webmap-size)*.55);
    height: calc(var(--webmap-size)*.55);
}

.i-user {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--user-svg);
    -webkit-mask-image: var(--user-svg);
}
.i-user-lg {
    width: var(--user-size);
    height: var(--user-size);
}
.i-user-sm {
    width: calc(var(--user-size)*.55);
    height: calc(var(--user-size)*.55);
}
.imi {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}