.icon-volume {
    mask: url(../icons/noun_UprightBook_2089467.svg);
    width: 60px;
    height: 60px;
}
.icon-document {
    mask: url(../icons/noun_Scroll_2592600.svg);
    width: 70px;
    height: 70px;
}
.icon-layer {
    mask: url(../icons/noun_Layer_2583171.svg);
    width: 75px;
    height: 75px;
}
.icon-folded-map {
    mask: url(../icons/noun_FoldedMap_2592599.svg);
    width: 70px;
    height: 70px;
}
.icon-user {
    mask: url(../icons/noun_User_1236015.svg);
    width: 50px;
    height: 50px;
}
.icon {
    display: inline-block;
    background: black;
    mask-size: cover;
}
.icon:hover,
.icon:focus {
    background: red;
}

/* .icon-header:hover .icon {
    background: red;
} */