body {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -.3px;
}

footer a:hover {
	color: #ffffff !important;
}

#wrap {
	margin-top: 60px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.tify-header {
	font-family: 'Josefin Sans', sans-serif !important;
}

.showcase-tile {
	min-height: 235px;
}
.showcase-tile-title {
	display: inline-block;
	font-size: 2em;
}
.showcase-tile-title a {
	display: flex;
	align-items: center;
}
.showcase-tile-title a:hover {
	color: #2c689c;
}
.showcase-tile-title a:hover > span.i {
	background: #2c689c;
}
.showcase-tile-title a:hover > span.i {
	background: #2c689c;
}

.search-result-item-title-bar {
	padding: 5px;
	background: #f5f5f5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.search-result-item-title-bar h4 {
	margin: 0px;
}
.item-details {
	background: unset;
}
.item-details .item-items {
	border-top: unset;
}
.item-details .item-items ul {
	margin: 0 0 0 -15px;
	padding: 0.2em;
}

.search-result-item-list {
	margin: 0 0 0 -15px;
    padding: 0.5em;
    list-style: none;
}

.navbar-inverse .navbar-nav > li > a {
	font-weight: 400;
}

.search-result-item {
	padding: 0;
	background: white;
	border: 1px solid #777777;
	border-radius: 5px;
}

.search-result-item img {
	border-bottom-left-radius: 5px;
}

/* .container-outer {
	margin-top: -11px;
	background: #EAE0C1;
} */

.home-facets {
	padding: 0 !important;
}

.redtitle {
	color: red;
}

.background-bg {
	background:#F7F1E1;
}

.background-fg {
	background:#EAE0C1 !important;
	box-shadow:gray 0px 0px 5px;
}

.jumbotron {
	box-shadow: gray 0px 0px 5px;
}

.jumbotron, .jumbotron p {
	font-family: 'Josefin Sans' !important;
	text-shadow: unset !important;
}

.home .jumbotron .btn-default {
    border: 2px solid #3a3a3a;
    color: #3a3a3a;
}

/* pure css loading bar */
/* from https://loading.io/css/ */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
	}
	@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}