:root {
    --md-primary-fg-color:        #123B4F;
    --md-primary-fg-color--light: #F7F1E1;
    --md-primary-fg-color--dark:  #90030C;
    --md-text-font-family: 'Josefin Sans';
}

body {
    font-size: 1.1em;
}

a {
    text-decoration: underline;
}

/* Light mode */
[data-md-color-scheme="default"] {
    --md-default-bg-color: #F7F1E1;
}
  
/* Dark mode */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #F7F1E1;
}


figcaption {
    font-style: italic;
    font-size: .85em;
}

/* override glightbox caption font family */
.glightbox-clean .gslide-title {
    font-family: 'Josefin Sans' !important;
}

/* .md-main > .md-grid {
    margin-top: 0;
    padding-top: 1em;
    box-shadow: gray 0px 0px 5px;
    background-color: #eae0c1
} */