{% extends "base.html" %}
{% block extra_head %}
  <!-- <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> -->
  <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>

{% endblock %}

