{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load markdown_utils %}



{% block extra_head %}{% if EXTRA_HEAD %}{{EXTRA_HEAD|safe}}{% endif %}{% endblock %}

{% block title %}{{ PAGE_TITLE }} | {{ block.super }}{% endblock %}

{% block middle %}
<div id="main-container" class="container" style="max-width:800px;">
        {% include "_status_message.html" %}
        {% include "_announcements.html" %}
        {% include "_messages.html" %}
        {% include '_titlebar.html' with title=PAGE_TITLE %}


<section class="content markdown-page">
    <div class="columns" style="margin:0">
        <div class="column is-one-fifth markdown-page-toc is-hidden-tablet">
            {% markdowntoc %}{{MARKDOWN_CONTENT}}{% endmarkdowntoc %}
        </div>
        <div class="column markdown-page-content">
            {% if DATE_MODIFIED %}<p style="color: #555555;"><em>Last updated: {{DATE_MODIFIED}}</em></p>{% endif %}
            {% markdowncontent %}{{MARKDOWN_CONTENT}}{% endmarkdowncontent %}
        </div>
        <div class="column is-one-fifth markdown-page-toc is-hidden-mobile">
            {% markdowntoc %}{{MARKDOWN_CONTENT}}{% endmarkdowntoc %}
        </div>
    </div>
</section>
</div>

{% endblock %}
