main {
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-left: -15px;
  background: linear-gradient(
      0deg,
      rgba(255 255 255 / 60%),
      rgba(255 255 255 / 60%)
    ),
    url(/static/img/old-basin-canal-tall-50qual-crop.jpg);
  background-size: 100%;
}

section {
  margin-top: 40px;
  padding: 0 20px;
}

section > div {
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

main p {
  font-size: 1.25em;
}

.double-column-section {
  display: flex;
  gap: 10px;
  padding: 0;
}

.double-column-section > div {
  width: 50%;
}

.map-container {
  height: calc(100% - 75px);
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.logo-list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  padding: 20px;
  gap: 20px;
}

.logo-image {
  max-height: 45px;
  max-width: 250px;
}

@media only screen and (max-width: 760px) {
  main {
    max-width: none;
  }

  .hero-banner-inner {
    flex-direction: column;
  }

  .double-column-section {
    flex-direction: column-reverse;
  }

  .double-column-section > div {
    width: 100%;
  }

  .map-container {
    display: none;
  }
}
