:root {
    --volume-svg: url(../icons/noun_UprightBook_2089467.svg);
    --volume2-svg: url(../icons/noun-book-3124501-FFFFFF.svg);
    --document-svg: url(../icons/noun_Scroll_2592600.svg);
    --layer-svg: url(../icons/noun_Layer_2583171.svg);
    --webmap-svg: url(../icons/noun_FoldedMap_2592599.svg);
    --pinmap-svg: url(../icons/noun_pinmap_1832932.svg);
    --user-svg: url(../icons/noun_User_1236015.svg);
    --magnifier-svg: url(../icons/noun-magnifier-858462.svg);
    --pin-svg: url(../icons/noun-map-pin-858464.svg);
    --compass-svg: url(../icons/noun-compass-867471.svg);
    --volume-size: 65px;
    --document-size: 70px;
    --layer-size: 75px;
    --webmap-size: 70px;
    --pinmap-size: 70px;
    --user-size: 50px;
    --magnifier-size: 55px;
    --pin-size: 55px;
    --compass-size: 55px;
}

.i-magnifier {
    mask-image: var(--magnifier-svg);
    -webkit-mask-image: var(--magnifier-svg);
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.i-magnifier-lg{
    width: var(--magnifier-size);
    height: var(--magnifier-size);
}
.i-magnifier-sm {
    width: calc(var(--pin-size)*.55);
    height: calc(var(--pin-size)*.55);
}

.i-pin {
    mask-image: var(--pin-svg);
    -webkit-mask-image: var(--pin-svg);
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.i-pin-lg{
    width: var(--pin-size);
    height: var(--pin-size);
}
.i-pin-sm {
    width: calc(var(--pin-size)*.55);
    height: calc(var(--pin-size)*.55);
}

.i-compass {
    mask-image: var(--compass-svg);
    -webkit-mask-image: var(--compass-svg);
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.i-compass-lg{
    width: var(--compass-size);
    height: var(--compass-size);
}
.i-compass-sm {
    width: calc(var(--compass-size)*.55);
    height: calc(var(--compass-size)*.55);
}

.i-volume {
    mask-image: var(--volume2-svg);
    -webkit-mask-image: var(--volume2-svg);
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}
.i-volume-lg{
    width: var(--volume-size);
    height: var(--volume-size);
}
.i-volume-sm {
    width: calc(var(--volume-size)*.55);
    height: calc(var(--volume-size)*.55);
}

.i-document {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--document-svg);
    -webkit-mask-image: var(--document-svg);
}
.i-document-lg {
    width: var(--document-size);
    height: var(--document-size);
}
.i-document-sm {
    width: calc(var(--document-size)*.55);
    height: calc(var(--document-size)*.55);
}

.i-layer {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--layer-svg);
    -webkit-mask-image: var(--layer-svg);
}
.i-layer-lg {
    width: var(--layer-size);
    height: var(--layer-size);
}
.i-layer-sm {
    width: calc(var(--layer-size)*.55);
    height: calc(var(--layer-size)*.55);
}

.i-webmap {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--webmap-svg);
    -webkit-mask-image: var(--webmap-svg);
}
.i-webmap-lg {
    width: var(--webmap-size);
    height: var(--webmap-size);
}
.i-webmap-sm {
    width: calc(var(--webmap-size)*.55);
    height: calc(var(--webmap-size)*.55);
}

.i-pinmap {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--pinmap-svg);
    -webkit-mask-image: var(--pinmap-svg);
}
.i-pinmap-lg {
    width: var(--pinmap-size);
    height: var(--pinmap-size);
}
.i-pinmap-sm {
    width: calc(var(--pinmap-size)*.55);
    height: calc(var(--pinmap-size)*.55);
}

.i-user {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-image: var(--user-svg);
    -webkit-mask-image: var(--user-svg);
}
.i-user-lg {
    width: var(--user-size);
    height: var(--user-size);
}
.i-user-sm {
    width: calc(var(--user-size)*.55);
    height: calc(var(--user-size)*.55);
}
.imi {
    display: inline-block;
    background: black;
    mask-size: cover;
    -webkit-mask-size: cover;
}