:root {
	--universal-margin: 0;
	--universal-padding: 0;
	--header-back-color: #123B4F;
	--header-hover-back-color: #123B4F;
	--header-fore-color: white;
	--footer-back-color: #123B4F;
	--footer-fore-color: white;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, * {
	font-family: 'Josefin Sans', sans-serif;
}

body {
  letter-spacing: -.3px;
  padding-top: 45px;
  background-color: #F7F1E1;
  margin: 0;
  line-height: 1.42857143;
  color: #333333;
}

img {
	vertical-align: middle;
}

table {
	border-spacing: 0;
}

pre {
	display: block;
	padding: 5px;
	margin: 0 0 11px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: auto;
  }
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1.1em;
}
h6 {
	font-size: 1.05em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}
h1, h2, h3 {
	margin-top: 18px;
  	margin-bottom: 11px;
}
h4, h5, h6 {
	margin-top: 11px;
  	margin-bottom: 11px;
}

p  {
	margin: 0 0 11px;
}

input[type="range"] {
	display: block;
	width: 100%;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
  }
  @media (min-width: 768px) {
	.container {
	  width: 750px;
	}
  }
  @media (min-width: 992px) {
	.container {
	  width: 970px;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
  }

a {
	color: #2c689c;
	text-decoration: none;
}
a.white {
	color: white;
}
a.zoom-in {
	cursor: zoom-in;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

a.button {
	text-transform: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	cursor: pointer;
  }

button.control-btn {
	display: flex;
	align-items: center;
	border-radius: 4px;
	font-size: 19.2px;
	color: #1b4060;
	height: 30px;
}

button.control-btn.tool-ui {
	color: white;
	background: #1b4060;
}

button.control-btn.tool-ui:hover {
	background: #2c689c;
	color:white;
}

button.control-btn[disabled], button.control-btn[disabled]:hover {
	color: darkslategrey;
	background: lightgrey;
}

.control-btn-group {
	display: flex;
	flex-direction: row;
}

@media (max-width: 991px) {
	body {
	  padding-top: 45px;
	}
}

footer a:hover {
	color: #ffffff !important;
}

#wrap {
	margin-top: 50px !important;
}

.banner-wrap {
	position: relative
}
@media (max-width: 991px) {
	.banner-button-list {
	  flex-direction: column;
	  align-items: center;
	}
	.banner-button-list div {
		width: 100%;
	}
}

.banner .btn-default {
    border: 2px solid #3a3a3a;
    color: #3a3a3a;
}

/* unset max height so scroll overflow never shows up */
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}

.navbar-inverse .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.about-sidenav {
    background:#EAE0C1 !important;
	box-shadow:gray 0px 0px 5px;
	border-radius: 4px;
    -webkit-flex: 3;
    flex: 3;
}

.about-content {
    padding: 10px;
    -webkit-flex: 4;
    flex: 4;
}

.tify-header {
	font-family: 'Josefin Sans', sans-serif !important;
}

.showcase-tile {
	height: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.showcase-tile-title {
	display: inline-block;
	font-size: 2em;
}
.showcase-tile-title a {
	display: flex;
	align-items: center;
}
.showcase-tile-title a:hover {
	color: #2c689c;
}
.showcase-tile-title a:hover > span.i {
	background: #2c689c;
}
.showcase-tile-title a:hover > span.i {
	background: #2c689c;
}

.search-result-item-title-bar {
	padding: 5px;
	background: #f5f5f5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.search-result-item-title-bar h4 {
	margin: 0px;
}
.item-details {
	background: unset;
}
.item-details .item-items {
	border-top: unset;
}
.item-details .item-items ul {
	margin: 0 0 0 -15px;
	padding: 0.2em;
}

.search-result-item-list {
	margin: 0 0 0 -15px;
    padding: 0.5em;
    list-style: none;
}

.navbar-inverse .navbar-nav > li > a {
	font-weight: 400;
}

.search-result-item {
	padding: 0;
	background: white;
	border: 1px solid #777777;
	border-radius: 5px;
}

.search-result-item img {
	border-bottom-left-radius: 5px;
}

/* .container-outer {
	margin-top: -11px;
	background: #EAE0C1;
} */

.home-facets {
	padding: 0 !important;
}

.redtitle {
	color: red;
}

.background-bg {
	background:#F7F1E1;
}

.background-fg {
	background:#EAE0C1 !important;
	box-shadow:gray 0px 0px 5px;
}

.consent-dl dt {
	font-weight: bold;
}

.consent-dl dd {
	/* font-style: italic; */
	padding-left: 10px;
}

/* pure css loading bar */
/* from https://loading.io/css/ */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
	}
	@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

#newsletter-container {
	padding-top: 15px;
}
#newsletter-container table {
	width: 100%;
}
#newsletter-container th {
	font-size: 1.1em;
	background-color: #eaeaea;
	padding: 5px;
}

.alert {
	padding: 15px;
	margin: 15px 0px;
	border: 1px solid transparent;
	border-radius: 4px;
  }
  .alert h4 {
	margin-top: 0;
	color: inherit;
  }
  .alert .alert-link {
	font-weight: bold;
  }
  .alert > p,
  .alert > ul {
	margin-bottom: 0;
  }
  .alert > p + p {
	margin-top: 5px;
  }
  .alert-dismiss-btn {
	border: none;
	background: none;
	font-size: 2em;
	line-height: 0;
  }
  .alert-dismissible {
	padding-right: 35px;
  }
  .alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
  }

  .alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }
  .alert-success hr {
	border-top-color: #c9e2b3;
  }
  .alert-success .alert-link {
	color: #2b542c;
  }
  .alert-success .alert-dismiss-btn {
	color: #2b542c;
  }

  .alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
  }
  .alert-info hr {
	border-top-color: #a6e1ec;
  }
  .alert-info .alert-link {
	color: #245269;
  }
  .alert-success .alert-dismiss-btn {
	color: #245269;
  }

  .alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
  }
  .alert-warning hr {
	border-top-color: #f7e1b5;
  }
  .alert-warning .alert-link {
	color: #66512c;
  }
  .alert-success .alert-dismiss-btn {
	color: #66512c;
  }

  .alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }
  .alert-danger hr {
	border-top-color: #e4b9c0;
  }
  .alert-danger .alert-link {
	color: #843534;
  }
  .alert-success .alert-dismiss-btn {
	color: #843534;
  }

  .ffs {
	position: fixed !important;
	width: 100%;
	top: 60px;
	height: calc(100vh - 60px) !important;
	left: 0;
  }

  ul.errorlist {
	color: #db0606;
	list-style: none;
	padding: 0;
	font-style: italic;
  }