{% load i18n avatar_tags %}
{% load static from staticfiles %}
{% load account socialaccount %}
{% load base_tags %}
{% load django_svelte %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">

    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta property="og:description" content="A crowdsourcing site for creating and viewing georeferenced mosaics of historical Sanborn fire insurance maps" />

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="preload" as="style" href="{% static "geonode/css/font-awesome.min.css" %}" />

    <! -- analytics with plausible.io -->
    <script defer data-domain="oldinsurancemaps.net" src="/js/script.js"></script>

    {% block head %}

      <link href="{% static "lib/css/assets.min.css" %}" rel="stylesheet"/>
      <link href="{% static "geonode/css/base.css" %}" rel="stylesheet"/>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
      
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}css/icons.css" rel="stylesheet"/>
    {% endblock %}
    <!--[if IE]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style>
        #ieflag{
            display: block !important;
            height: 150px;
            text-align: center;
        }
      </style>
    <![endif]-->
    <link rel="search" type="application/opensearchdescription+xml" href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}catalogue/opensearch" title="{% trans "GeoNode Search" %}"/>

    <script>
        var siteUrl = '{{ SITEURL }}'.replace(/\/?$/, '/');
        var staticUrl = '{% static "" %}';
    </script>

    <!-- RTL styles -->
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.3.4/css/bootstrap-rtl.min.css">
        {% if DEBUG_STATIC %}
          <link rel="stylesheet" type="text/css" href="{% static "geonode/css/geonode-rtl.css" %}">
        {% else %}
          <link rel="stylesheet" type="text/css" href="{% static "geonode/css/geonode-rtl.min.css" %}">
        {% endif %}
    {% endif %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!-- Loading Mask -->
    <div class='lmask'></div>
    <!-- Navbar -->
    {% block header %}{% endblock header %}

    {% display_svelte "Navbar.svelte" navbar_params %}


    <div class="alert alert-danger alert-dismissible" role="alert" id="ieflag" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>{% trans "You are using an outdated browser that is not supported." %}</h1>
      <p>{% trans "Please use a <strong>modern browser</strong> like Mozilla Firefox, Google Chrome or Safari." %}</p>
    </div>

    {% block middle %}
    <div class="container background-fg" style="min-height: calc(100vh - 250px);">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
        {% block body %}{% endblock body %}
        {% block sidebar %}{% endblock sidebar %}
      {% endblock body_outer %}
      {% block main_content %}{% endblock %}
    </div>
    {% endblock middle %}

    {% block extra_mainbody %}
    {% endblock extra_mainbody %}

  {% block monitoring %}
  {% endblock %}


  {% block footer %}
  {% display_svelte "Footer.svelte" navbar_params %}
  {% endblock footer %}


    <!-- Modal must stay outside the navbar -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div style="background:white; border-radius:5px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Sign in" %}</h4>
          </div>
          <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              {% get_providers as socialaccount_providers %}
              {% if socialaccount_providers %}
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  {% include "socialaccount/snippets/login_extra.html" %}
                <hr>
              {% endif %}
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="login" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" autocomplete="off" />
              </div>
              <label class="checkbox" style="padding-left:20px;">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
              <p>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </p>
              <hr>
              <p>
                <a href="{% url "account_signup" %}">Sign up!</a><br>
                You don't need an account to view maps, but you do need one to georeference them. 
              </p>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End of Modal -->

    <!-- quick testing shows that only jquery and bootstrap are needed to 
    retain the sign in modal functionality. This allows for the removal of
    assets.js which was originally included below. -->
    <script src="{% static "lib/js/jquery.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.js" %}"></script>

    {% comment %}
    {% if DEBUG_STATIC %}
    <script src="{% static "lib/js/jquery.js" %}"></script>
    <script src="{% static "lib/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "lib/js/bootstrap-treeview.js" %}"></script>
    <script src="{% static "lib/js/bootstrap-tokenfield.js" %}"></script>
    <script src="{% static "lib/js/fastselect.standalone.js" %}"></script>
    <script src="{% static "lib/js/select2.full.js" %}"></script>
    <script src="{% static "lib/js/jquery.timeago.js" %}"></script>
    <script src="{% static "lib/js/jq-ajax-progress.js" %}"></script>
    <script src="{% static "lib/js/jquery-ui.js" %}"></script>
    <script src="{% static "lib/js/jquery.raty.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.js" %}"></script>
    <script src="{% static "lib/js/moment-with-locales.js" %}"></script>
    <script src="{% static "lib/js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "lib/js/json2.js" %}"></script>
    <script src="{% static "lib/js/waypoints.js" %}"></script>
    <script src="{% static "lib/js/underscore.js" %}"></script>
    {% else %}
    <script src="{% static "lib/js/assets.min.js" %}"></script>
    {% endif %}
    {% endcomment %}
    <!-- <script src="{% static "geonode/js/utils/utils.js" %}"></script>
    <script src="{% static "geonode/js/base/base.js" %}"></script> -->
    <!-- <script type="text/javascript" src="{% url "javascript-catalog" %}"></script> -->
    {% block extra_script %}{% endblock extra_script %}


    <div class="modal fade" style="width: 100%; height: 100%;" id="_resource_uploading" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% trans "Uploading..." %}</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        {% trans "Upload in progress..." %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="width: 100%; height: 100%;" id="_thumbnail_processing" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% trans "Processing..." %}</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        {% trans "Updating Thumbnail..." %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="_thumbnail_feedbacks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{% trans "Message box" %}</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "OK" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div id="confirmMsgBoxModalOK" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <!-- How to use it:
        $("#confirmMsgBoxModalOK").find('.modal-title').text('{% trans "Title" %}');
        $("#confirmMsgBoxModalOK").find('.modal-body').text('{% trans "Message. Do you want to proceed?" %}');
        $("#confirmMsgBoxModalOK_control_field").val('your_control_value');
        $("#confirmMsgBoxModalOK").modal("show");

        $('#confirmMsgBoxModalOK').find('.modal-footer #confirm').on('click', function() {
          if ($("#control_field").val() == 'your_control_value') {
            CONFIRMED
          }
        });
      -->
      <div class="modal-dialog">
        <input type="hidden" class="form-control" id="confirmMsgBoxModalOK_control_field" />
        <div class="modal-content panel-success">
          <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{% trans "Confirm" %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans "Some text in the modal" %}.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="button" class="btn btn-danger confirm" id="confirm">{% trans "OK" %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
