{% extends 'base.html' %}

{% load avatar_tags %}
{% load i18n %}

{% block body %}
    {% if user.is_authenticated %}
    {% include '_titlebar.html' with title=user.username show_avatar=True show_profile_link=True %}
    {% endif %}
    <div class="tabs">
        <ul>
            {% if user.is_authenticated %}
                {% url 'account_email' as email_url_ %}
                {% if email_url_ %}
                    <li class="{% if request.path == email_url_ %}is-active{% endif %}">
                        <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url_ %}
                {% if change_password_url_ %}
                    <li class="{% if '/account/password/' in request.path %}is-active{% endif %}">
                        <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                    </li>
                {% endif %}
                <li class="{% if request.path == '/avatar/change/' %}is-active{% endif %}">
                    <a href="{% url 'avatar_change' %}">{% trans "Change Avatar" %}</a>
                </li>
                {% url 'socialaccount_connections' as connections_url_ %}
                {% if connections_url_ %}
                    <li class="{% if request.path == connections_url_ %}is-active{% endif %}">
                        <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_url_ %}
                {% if mfa_url_ %}
                    <li class="{% if request.path == mfa_url_ %}is-active{% endif %}">
                        <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url_ %}
                {% if usersessions_list_url_ %}
                    <li class="{% if request.path == usersessions_list_url_ %}is-active{% endif %}">
                        <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                    </li>
                {% endif %}
                {% url 'account_logout' as logout_url_ %}
                {% if logout_url_ %}
                    <li class="{% if request.path == logout_url_ %}is-active{% endif %}">
                        <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                    </li>
                {% endif %}
            {% else %}
                {% url 'account_login' as login_url_ %}
                {% if login_url_ %}
                    <li class="{% if '/login/' in request.path %}is-active{% endif %}">
                        <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
                {% url 'account_signup' as signup_url_ %}
                {% if signup_url_ %}
                    <li class="{% if request.path == signup_url_ %}is-active{% endif %}">
                        <a href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock content %}
{% endblock body %}